*{
    box-sizing: border-box;
}
body {
    background-color:#FFA07A;
    font-family: monospace;
    color: #8B4513;
}  
.vanessafoto {
    font-size: 35px;
    text-decoration: underline;
    border-radius: 100%;

}

h2 {
    font-size: 25px;
}

.secao_sobre {
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
}

.redes_sociais
{
   text-align: center;
   margin-top: 100px;
   padding-bottom: 90px;
}

.redes_sociais img {
    width: 87px;
    height: 86px;
    margin-left: 40px;
    filter: grayscale(100%);
 
 }

 @media only screen and (max-width: 600px) {
    .secao-sobre {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .esecao-sobre {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .secao-sobre {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .secao-sobre {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .secao-sobre {background: whitesmoke;}
}


::selection{
    color:wheat;
    background-color: purple;
   }
   img:active {
    background-color: plum;
   }
   